.sidebar{
    width: 80px;
    height: 100%;
    .sidebar__wrapper{
        padding-top: 30px;
        text-align: center;
    }
    .sidebar__brand{
        strong{
            font-size: 18px;
        }
    }
    &--default{
        background-color: #F6F5FA;
    }
}

//Medium devices
@media (min-width: 768px) {
    
}
 
 
 // Large devices
@media (min-width: 992px) {
    
}
 // Extra large devices
@media (min-width: 1200px) {
    
}
