.simple-logo{
    padding : 10px 10px ;
    border-radius: 5px;
    font-family: 900;
    cursor: pointer !important;
    &--default{
        background-color: #ffffff;
        -webkit-box-shadow: 0px 21px 28px -15px rgba(102,100,102,1);
        -moz-box-shadow: 0px 21px 28px -15px rgba(102,100,102,1);
        box-shadow: 0px 21px 28px -15px rgba(102,100,102,1);
    }
}