$font-path : '../app/assets/fonts/';
@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}Gilroy-Light.eot');
  src: url('#{$font-path}Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}Gilroy-Light.woff2') format('woff2'),
      url('#{$font-path}Gilroy-Light.woff') format('woff'),
      url('#{$font-path}Gilroy-Light.ttf') format('truetype'),
      url('#{$font-path}Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}Gilroy-Bold.eot');
  src: url('#{$font-path}Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}Gilroy-Bold.woff2') format('woff2'),
      url('#{$font-path}Gilroy-Bold.woff') format('woff'),
      url('#{$font-path}Gilroy-Bold.ttf') format('truetype'),
      url('#{$font-path}Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}Gilroy-Heavy.eot');
  src: url('#{$font-path}Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}Gilroy-Heavy.woff2') format('woff2'),
      url('#{$font-path}Gilroy-Heavy.woff') format('woff'),
      url('#{$font-path}Gilroy-Heavy.ttf') format('truetype'),
      url('#{$font-path}Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('#{$font-path}Gilroy-Regular.eot');
  src: url('#{$font-path}Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}Gilroy-Regular.woff2') format('woff2'),
      url('#{$font-path}Gilroy-Regular.woff') format('woff'),
      url('#{$font-path}Gilroy-Regular.ttf') format('truetype'),
      url('#{$font-path}Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Gilroy';
}